<footer class="footer custom-content">
    <div class="content has-text-centered">
        <p>
            <a href="https://partenaires.franceconnect.gouv.fr/fcp/fournisseur-service">
                <strong>Documentation France Connect Partenaires</strong>
            </a>.
        </p>
    </div>
</footer>
<script src="http://fcp.integ01.dev-franceconnect.fr/js/franceconnect.js"></script>
</body>
</html>