<% include ../includes/header %>
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <%= title %>
            </h1>
            <br>
            <h2 class="subtitle">
                Accéder aux différentes démarches administratives en ligne de la ville de <%= title %>
            </h2>
            <h4 class="subtitle">Gagnez du temps dans la réalisation de vos démarches en vous connectant par FranceConnect!</h4>
            <p class="subtitle">Connectez vous à l'administration <b>en toute sécurité</b>, <b>sans créer de nouveau compte</b>.</p>
            <p>**** Ceci est un example permettant de visualiser la cinematique de connection pour un fournisseur de service. ****</p>
        </div>
        <br>
        <div class="container has-text-centered">
            <!-- FC btn -->
            <a href="/login">
                <img src="img/FCboutons-10.png" alt="">
            </a>
        </div>
    </div>
</section>
<% include ../includes/footer %>