<% include ../includes/header.ejs %>
<section class="hero is-link is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Avec le Guichet des Chiroquois vous pouvez :
            </h1>
            <div class="subtitle">
                <ul>
                    <li>Accéder aux différentes démarches administratives en ligne de la ville de Paris</li>
                    <li>Retouver l'historique de vos demandes dans votre espace personnel</li>
                    <li>Etre informé de l'état d'avancement de l'instruction de vos demandes</li>
                </ul>
                <h4>Gagnez du temps dans la réalisation de vos démarches en vous connectant par FranceConnect!</h4>
                <p>Connectez vous à l'administration <b>en toute sécurité</b>, <b>sans créer de nouveau compte</b>.</p>
            </div>
            <div class="container has-text-centered">
                <!-- FC btn -->
                <a href="/login">
                    <img src="img/FCboutons-10.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<% include ../includes/footer.ejs %>