<% include ../includes/header.ejs %>
<section class="hero is-link is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Profile utilisateur
            </h1>
            <div class="subtitle">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <div id="fconnect-profile" data-fc-logout-url="/logout">
                                <a href="#" class="has-text-link">
                                    <%= user.family_name %> <%= user.given_name %>
                                </a>
                            </div>
                            <div class="container has-text-centered">
                                <p> Votre connexion au Guichet Chiroquois, via France Connect, est un succès</p>
                                <p> Utiliser le button en haut gauche (avec votre nom et prénom), afin accèder à votre historique de connexion et au bouton de deconnexion .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ../includes/footer.ejs %>